.search {
	margin: 0 2rem;
}

.searchBar {
	width: 100%;
	padding: 0.25rem 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.424);
	border-radius: 0.25rem;
	font-size: 20px;
	margin-bottom: 1rem;
	background-color: #404040;
	color: #fff;
}

.results {
	display: flex;
	flex-wrap: wrap;
}

.book {
	margin-right: 1rem;
	margin-bottom: 2rem;
	width: calc((100% - 64px) / 5);
	background-size: contain !important;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.book:nth-child(5n) {
	margin-right: 0;
}

.cover {
	width: 100%;
	aspect-ratio: 0.63;
	border-radius: 0.25rem;
}

.details {
	padding: 0.5rem 0.25rem;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 0.25rem;
	width: calc(95%);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
